
@import '_variables';






/* Bouton d'ouverture / fermeture */
#boutonVolet{
  position:fixed;
  right:20px;
  top:20px;
  width:40px;
  height:40px;
  background-color:rgb(214, 212, 86);
  cursor: pointer;
  border-radius:20px;
  opacity:0.6;
  transition: opacity 1s;
  z-index: 2000;
}

#boutonVolet:hover{
  opacity: 1;
  
}

/* Volet gauche */
#voletGauche {
  font-family: "Sarabun", sans-serif;
  background-color: rgb(223, 32, 32);
  text-transform:lowercase; 
  position: absolute;
  top: 0;
  left: -70vw;
  width: 70vw;
  height: 100vh;
  background-color:#fff;
  color:#000;
  /* Centrage horizontal et vertical */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Transition CSS sur l'opacité */
  opacity: 1;
  transition: left 1s linear;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ouvert {
  left: 0 !important;
  transition: left 1s linear;
}

/* Texte Volet Gauche*/
li {
  text-decoration: none;
  text-transform: none;
  color: $textLight;
  font-family: $fontHelvetica;     
}

#voletGauche h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(158, 0, 0);
  text-transform: uppercase;
  opacity: .2;
  font-size: 70px;
  font-family: $fontHelvetica;
  font-size: 10vh;
}



     
    // Parallax:  
     body{
       margin: 0;
       //background-color: #1d1e22;
     }

     #parallax {
       position: absolute;
       z-index: 100;
       width: 100%;
       height: 100vh;
       background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
       background-repeat: no-repeat;
       background-position: center;
       background-position: 50% 50%;
     }




     //Menu central liens pages
     h1 {
       position: absolute;
       top: 47%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: #fff;
       font-family: "Arial";
       text-transform: uppercase;
       opacity: .7;
       font-size: 37px;
       z-index: 200 !important;
     }

     span a {
      text-decoration: none;
      color: $textDark;
      font-family: $fontHelvetica;
      font-size : 0.7em;
    }
   


 
     